includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    tmpDir: build/phpstan
    paths:
        - app/
    
    # Level 9 is the highest level
    level: 5

    # Vetted by AI - Manual Review Required by Senior Engineer/Manager
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    # checkMissingIterableValueType: false
