.git
.env
.env.*
Dockerfile
docker-composer.yml
docker-compose.yml
docker-compose.override.yml
.phpunit.result.cache
.vscode
.idea
storage/logs/*.log
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
public/hot
public/storage
node_modules
vendor
